.card {
  height: 60svh;
  width: 90svw;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.178), 0 40px 10px -20px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  position: absolute;
}

.card {
  background-color: #fff;
}