.cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
  position: sticky;
  top: -20px;
  z-index: 999;
}

.cardContainer,
.ending {
  grid-column: 1/13;
}


/* edit height for more scroll length for cards*/
.ending {
  height: 600svh;
}