.lowerSection {
  height: 95svh;
  width: 95svw;
  position: relative;
  top: 0px;
  z-index: 44;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}

.titleSection {
  height: 100svh;
  width: 100svw;
  grid-column: 1/13;
  grid-row: 1/2;
  position: sticky;
  top: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSection {
  background-color: #f5f7f8;
}