@font-face {
  font-family: "bebas";
  src: url("./fonts/bebas.woff2");
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Bold.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-BoldItalic.woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Italic.woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-SemiBold.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-SemiBoldItalic.woff2");
  font-style: italic;
  font-weight: 500;
}

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --card-scale: 0.7;
  --h3-small: 1.25rem;
  --text-small: 0.9rem;
  --large-text-small-device: 2.5rem;
  --medium-device: 2.5rem;
  --large-device: 2.5rem;
  --heading-font: "bebas";
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "bebas";
}

body {
  background-color: #f5f7f8;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

nav {}

nav button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.178);
}

#card0 {
  transform: translate3d(0px, 100px, 0px);
  z-index: 10;
}

#card1 {
  transform: translate3d(0px, 50px, 0px);
  scale: 0.9;
  z-index: 9;
}

#card2 {
  transform: translate3d(0px, 0px, 0px);
  scale: 0.8;
  z-index: 8;
}


#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9,
#card10,
#card11 {
  transform: translate3d(0px, 0px, 0px);
  scale: var(--card-scale);
}

#card3 {
  z-index: 7;
}

#card4 {
  z-index: 6;
}

#card5 {
  z-index: 5;
}

#card6 {
  z-index: 4;
}

#card7 {
  z-index: 3;
}

#card8 {
  z-index: 2;
}

#card9 {
  z-index: 1;
}

#card10 {
  z-index: 0;
}

#card11 {
  z-index: -1;
}