/*global css here*/


/*fonts*/

@font-face {
  font-family: "bebas";
  src: url("./fonts/bebas.woff2");
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Bold.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-BoldItalic.woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Italic.woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-SemiBold.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-SemiBoldItalic.woff2");
  font-style: italic;
  font-weight: 500;
}

/*root elements*/
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #f5f7f8;

  --primary-dark-color: #000000;
  --primary-light-color: #f5f7f8;

  --primary-red: #D91818;
  --light-red: #ffe7ea;

  --card-scale: 0.7;
  --h3-small: 1.25rem;
  --text-small: 0.9rem;
  --large-text-small-device: 2.5rem;
  --medium-device: 2.5rem;
  --large-device: 2.5rem;
  --heading-font: "bebas";
  scroll-padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "bebas";
  letter-spacing: 1px;
}

h2 {
  font-size: clamp(2rem, 4svw, 8svw);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Titillium Web";
  font-size: 1rem;
}

body {
  background-color: #f5f7f8;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1.5em;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

table {
  font-family: "Titillium Web";
}


/*card id's included here as they are used throughout the site*/
#card0 {
  transform: translate3d(0px, 100px, 0px);
  z-index: 10;
}

#card1 {
  transform: translate3d(0px, 50px, 0px);
  scale: 0.9;
  z-index: 9;
}

#card2 {
  transform: translate3d(0px, 0px, 0px);
  scale: 0.8;
  z-index: 8;
}


#card3,
#card4,
#card5,
#card6,
#card7,
#card8,
#card9,
#card10,
#card11,
#card12,
#card13,
#card14,
#card15,
#card16,
#card17,
#card18,
#card19 {
  transform: translate3d(0px, 0px, 0px);
  scale: var(--card-scale);
  visibility: hidden;
}

/*indexing required for stacking*/
#card3 {
  z-index: 7;
}

#card4 {
  z-index: 6;
}

#card5 {
  z-index: 5;
}

#card6 {
  z-index: 4;
}

#card7 {
  z-index: 3;
}

#card8 {
  z-index: 2;
}

#card9 {
  z-index: 1;
}

#card10 {
  z-index: 0;
}

#card11 {
  z-index: -1;
}

#card12 {
  z-index: -2;
}

#card13 {
  z-index: -3;
}

#card14 {
  z-index: -4;
}

#card15 {
  z-index: -5;
}

#card15 {
  z-index: -6;
}

#card16 {
  z-index: -7;
}

#card17 {
  z-index: -8;
}

#card18 {
  z-index: -9;
}

#card19 {
  z-index: -10;
}

/* Nav start*/
nav {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

nav button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.363);
  z-index: 999;
  position: relative;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: var(--primary-dark-color);
}

nav button::before,
nav button::after,
nav button span::before,
nav button span::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--primary-light-color);
  margin: auto;
  border-radius: 2px;
}

nav button::before {
  top: 10px;
  left: 7.5px;
  width: 25px;
}

nav button::after {
  bottom: 10px;
  left: 7.5px;
  width: 25px;
}

nav button span::before,
nav button span::after {
  top: 18px;
  left: 7.5px;
  width: 25px;
}


/*button toggle closed / toggled*/

.open {
  height: 100%;
}

.closed {
  height: 80px;
  transition: height 1s linear 0.5s;
}

.open button::before,
.open button::after {
  transition: all .2s linear;
  opacity: 0;
}

.open button span::before {
  transition: all .3s linear;
  transform: rotate(45deg);
}

.open button span::after {
  transition: all .3s linear;
  transform: rotate(-45deg);
}

.closed button::before,
.closed button::after {
  transition: all .2s linear;
  opacity: 1;
}

.closed span::before {
  transition: all .3s linear;
  transform: rotate(0deg);
}

.closed span::after {
  transition: all .3s linear;
  transform: rotate(0deg);
}

ul {
  visibility: hidden;
  z-index: 0;
}

.closed ul {
  background: #000000;
  position: fixed;
  z-index: 14;
  height: 100vh;
  width: 100svw;
}

.closed ul {
  visibility: hidden;
  clip-path: circle(0% at 50vw calc(100vh - 40px));
  transition: all 0.5s linear;
}

.open ul {
  visibility: visible;
  height: 100vh;
  width: 100svw;
  background: #000000;
  position: fixed;
  z-index: 900;
  clip-path: circle(150% at 50vw calc(100vh - 40px));
  transition: all .9s linear;
}